.container {
	-fx-background-color: #343838;
}

.login-form-container {
	-fx-background-color: #343838;
}

.input:focused {
	-fx-border-color: #00B4CC;
	-fx-prompt-text-fill: #00B4CC;
}
.label{
	-fx-text-fill: #00B4CC;
}
.input {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1px 0;
	-fx-border-color: #00B4CC90;
	-fx-prompt-text-fill: #00B4CC90;
	-fx-text-fill: #00B4CC;
}
.ems-card{
	-fx-background-color: #005F6B22;
	-fx-border-color: #00B4CC;
	-fx-border-radius: 16px;
	-fx-background-radius: 16px;
	-fx-spin-enabled: 16px;
	-fx-padding: 16px;
}
.ems-container-card{
	-fx-padding: 48px;
}

.ems-anchor-card{
	-fx-border-radius: 16px;
}